.footer{
    margin: 50px 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;

}
.footer-top-left img {
    width: 120px;   /* change to any size you want */
    height: 120px;  /* keep same value to keep it square */
    object-fit: contain; /* keeps good quality */
}

.footer-top-left p{
    font-size:20px;
    max-width:400px;


}
.footer-top-right{
    display:flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background:#32323B;

    

}
/* .footer-email-input input{
    outline:none;
    border:none;
    background:transparent;
    color:#aQa0a0;
    font-family:Outfit;
    font-size:18px;
} */
 .footer-email-input {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #32323B;
    padding: 12px 20px;
    border-radius: 50px;
}

.footer-email-input img {
    width: 24px;
    height: 24px;
}

.footer-email-input input {
    border: none;
    outline: none;
    background: transparent;
    color: #A0A0A0;
    font-size: 18px;
    font-family: Outfit;
}

.footer-subscribe{
    font-size: 20px;
    padding: 22px 40px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF  106.28%);
    cursor:pointer;
    transition: 0.3s;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom-right{
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}
.footer-email-input:hover{
    border: 2px solid white;

}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}